name: Publish Release Note Second Approach

on:
  workflow_run:
    workflows: ["Release-Build"]
    types:
      - completed

jobs:
  tag-job:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    - name: Checkout new-release branch
      uses: actions/checkout@v4
      with:
        ref: refs/heads/new-release

    - name: Get the most recent tag
      id: get-tag
      run: |
        git fetch --tags
        git branch --show-current
        git describe --tags --abbrev=0
        # Get the most recent tag on the current branch
        TAG=$(git describe --tags --abbrev=0)
        if [ -z "$TAG" ]; then
          echo "Error: No tag found on the new-release branch"
          exit 1
        fi
        echo "Found tag: $TAG"
        echo "tag=$TAG" >> $GITHUB_ENV  # Save the tag in an environment variable

    - name: Use Extracted Tag
      run: echo "The most recent tag is ${{ env.tag }}"