name: Publish Release Note Third Approach

on:
  workflow_run:
    workflows: ["Release-Build"]
    types:
      - completed

jobs:
  tag-job:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    - name: Checkout new-release branch
      uses: actions/checkout@v4

    - name: Get the most recent tag
      id: get-tag
      run: |
        MOST_RECENT_TAG=$(git tag --sort=-creatordate | head -n 1)

        if [ -z "$MOST_RECENT_TAG" ]; then
          echo "Error: No tag found in the repository."
          exit 1
        fi

        echo "Most recent tag: $MOST_RECENT_TAG"
        echo "tag=$MOST_RECENT_TAG" >> $GITHUB_ENV

    - name: Use Extracted Tag
      run: echo "The most recent tag is ${{ env.tag }}"